body {
	font-family: var(--base-font-family), var(--base-font-family-fallback);
	line-height: var(--base-line-height);
	color: var(--base-text-colour);
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong, b {
	font-weight: 700;
}

table {
	width: 100%;
	--table-cell-padding: 0.5rem 1rem;
}

img, video {
	max-width: 100%;
	height: auto;
}

img {
	border-radius: 0.5rem;
}

blockquote {
	border-inline-start: 0.25rem solid var(--global-colour-primary);
	padding-inline-start: 2rem;
	font-size: 1.333em;
}

hr {
	border-block-start: 1px solid;
}

.prose ul, .prose ol {
	padding: 0 1.5rem;
	list-style: reset;
	padding-inline-start: 1rem;
}


mark {
	background-color: var(--global-colour-highlight);
	display: inline-block;
	padding-inline: 0.4rem;
}

.title {
	font-size: clamp(2rem, 4.5rem, calc(3vmin + 2rem));
	line-height: 1.4;
}

.title.spaced {
	--flow-block-spacing: 3.5rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	font-weight: bold;
	margin-block-start: var(--flow-block-spacing);
	margin-block-end: calc(var(--flow-block-spacing) / 2);
	line-height: calc(var(--base-line-height) * 0.85);
}

.prose p ~ p, .prose p ~ ol, .prose p ~ img {
	margin-block-start: 1rem;
}

.prose a {
	font-weight: bold;
}

.prose a, .link {
	transition: 0.3s ease-in-out;
	color: var(--global-colour-primary);
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}

.prose code {
	font-family: monospace;
}

.prose img, .prose picture {
	max-width: 100%;
}

.prose details summary {
	cursor: pointer;
	display: revert;
	list-style: revert;
}

.prose a:visited, .link:visited {
	opacity: 0.95;
}

.prose a:hover, .link:hover, .prose a:active, .link:active {
	opacity: 1;
	color: var(--global-colour-primary);
	text-underline-offset: 0.25em;
}

.prose * + table, .prose * + video, .prose * + ul, .prose * + ol {
	margin-block-start: 1.5rem;
}

.prose ul ul, .prose ol ol {
	margin-block: 0.25rem;
}

.prose ul li + li, prose ol li * li {
	margin-block-start: 0.5rem;
}

.prose * + blockquote {
	margin-block-start: 0.25rem;
}

.prose table td:not(:empty) {
	background-color: hsla(0, 0%, 0%, 0.05);
}

.prose table td, .prose table th {
	padding: var(--table-cell-padding);
}

.prose tbody td {
	border: 1px solid hsla(0, 0%, 0%, 0.17);
}

.prose table th sup {
	font-size: 0.65em;
	vertical-align: top;
	display: inline-block;
}

.prose table th * + sup {
	margin-inline-start: 1em;
}

.prose table th {
	font-weight: bold;
}

.prose abbr[title] {
	cursor: help;
	text-decoration: revert;
}

.prose blockquote + *, .prose video + * {
	margin-block-start: var(--flow-block-spacing);
}

.astro-code {
	padding: 1rem;
}


.prose .contains-task-list {
	list-style: initial;
}

.prose .task-list-item input[type="checkbox"] {
	appearance: auto;
	cursor: pointer;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin-inline-end: 0.15em;
}

.prose .task-list-item input[type="checkbox"]:disabled {
	cursor: not-allowed;
}