---
import type {HTMLAttributes} from "astro/types";

type Props = HTMLAttributes<"a">;

const {href, class: classes, ...props} = Astro.props;

const {pathname} = Astro.url;
const isActive =
	href === pathname ||
	(href !== "/" && pathname.startsWith(href)) ||
	href === pathname.replace(/\/$/, "");
---

<li class="navigation-link-container">
	<a href={href} class="navigation-link link" class:list={[classes, {active: isActive}]} {...props} aria-current={isActive ? "page" : null}>
		<slot/>
	</a>
</li>

<style>
	.navigation-link {
		padding-block: 0.5em;
		padding-inline: 1em;
		font-size: 1.5rem;
	}
	[aria-current="page"] {
		font-weight: bold;
	}
</style>