---
import type {HTMLAttributes} from "astro/types";

type Props = HTMLAttributes<"a">;

const {href, class: classes, ...props} = Astro.props;

const {pathname} = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li class="navigation-link-container">
	<a href={href} class="navigation-link" class:list={[classes, {active: isActive}]} {...props} aria-current={isActive ? "page" : null}>
		<slot/>
	</a>
</li>

<style>
	[aria-current="page"] {
		font-weight: bold;
	}
</style>