---
const {class: classes, ...props} = Astro.props;
const hasContent = Astro.slots.has("default");
---

<nav class="navigation" class:list={[classes]} {...props}>
	{hasContent && <ul class="navigation-links">
		<slot/>
	</ul>}
</nav>

<style>
	.navigation-links {
		display: flex;
	}
</style>