---
import Layout from "@layouts/Layout.astro";
---

<Layout title="🥲 Not Found">
	<p>The page you requested was either moved or does not exist.</p>
	<p>Check your URL bar and ensure that the link you typed is correct, or else <a href="/">head back home</a>.</p>
</Layout>