---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Astro Starter">
	<article class="prose padded">
		<h1>Astro Starter</h1>
		<p>A simple, <em>sane</em> starting template for <a href="https://astro.build">Astro</a>.</p>
		<p><a href="/posts/welcome-getting-started">Read the docs and get started</a>.</p>
	</article>
</Layout>