---
import PostHeader from "./PostHeader.astro";
const {posts, classes, ...props} = Astro.props;
---

<ul class="post-list" class:list={[classes]} {...props}>
	{posts.map((post) => (
		<li class="post-container">
			<a href={`/posts/${post.slug}`}>
				<PostHeader post={post}/>
			</a>
		</li>
	))}
</ul>