---
import {Image} from "astro:assets";
import PostMeta from "./PostMeta.astro";
import PostHeader from "./PostHeader.astro";
const {post, class: classes, ...props} = Astro.props;
const {Content} = await post.render();
---

<article class="post" class:list={[classes]} {...props}>
	<link itemprop="mainEntityOfPage" href={Astro.url}>
	<PostHeader class="contained" post={post}/>
	<div class="post-content prose contained" itemprop="articleBody">
		<Content/>
		<slot/>
	</div>
</article>