---
import {Image} from "astro:assets";
import PostMeta from "./PostMeta.astro";
import PostHeader from "./PostHeader.astro";
const {post, class: classes, ...props} = Astro.props;
const {Content} = await post.render();
---

<article class="post contained padded" class:list={[classes]} {...props}>
	<link itemprop="mainEntityOfPage" href={Astro.url}>
	<PostHeader post={post}/>
	<div class="post-content prose" itemprop="articleBody">
		<Content/>
		<slot/>
	</div>
</article>

<style>
	.post-content {
		padding-block: 1.5rem;
	}
</style>